# Betriebssystem-Müll
.DS_Store
**/.DS_Store
Thumbs.db

# Abhängigkeiten
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
dist/
build/

# VS Code Einstellungen (optional, oft besser sie zu ignorieren)
.vscode/
.history/

# Lokale Umgebungsvariablen
.env