/* Basic styling for three.js scenes */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#canvasThree {
  display: block;
  width: 100%;
  height: 100%;
}
